<h1>Events calendar</h1>

<div class='new-event-form'>
  <%= render partial: 'new_event_form',  locals: { event: event } %>
</div>

<div class='events-calendar'>
  <%= render partial: 'events_calendar', locals: { events: events } %>
</div>
