#calendar
  .fc-day-header
    padding 10px
    font-size 18px
    color #656D78

    span
      font-weight normal

  .fc-event
    margin 10px
    padding 5px
    font-size 14px
    border 1px solid #C07F00
    background-color #F3A100
    color #333300
